@import "fontAndValues";


body{
  padding: 0;
  margin: 0;
  font-family: "OpenSans-Regular", serif;
}

h2{
  font-family: "OpenSans-Bold", serif;
}

.Header{
  background-image: url("../img/football_1920.jpg");
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-repeat: no-repeat;
  background-size: cover;

  &-logoSVG{
    fill: $color-white;
    align-self: center;
    width: 20%;
    padding-top: 2rem;
  }

  &-recruited{
    margin-bottom: 0;
    font-family: OpenSans-Bold, serif;
    color: $color-white;
    padding-left: 25%;
    font-size: 3rem;
  }

  &-playCollege{
    color: $color-white;
    margin-left: 35%;
    margin-top: 0;
    font-size: 3rem;
  }

  &-button{
    display: flex;
    justify-content: center;
    background-color: $color-button;
    border: none;
    border-radius: 2rem;
    color: $color-white;
    align-self: center;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
    padding: 0.5rem  2rem;
  }

  &-buttonImg{
    margin-right: 0.5rem;
    width: 36px;
    height: 36px;
  }

  &Container{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }

}

.SectionSteps{
  display: flex;
  flex-direction: column;
  position: relative;

  &-header{
    font-size: 36px;
    padding-left: 70%;
    color: $color-greyFont;
    z-index: 1;

    &--basketBall{
      padding-right: 50%;
      padding-left: 1rem;
    }
  }

  &-footballer{
    align-self: center;
    z-index: 1;
    position: absolute;
    width: 30%;
    padding-left: 25%;
    padding-bottom: 1rem;
    margin-top: -5rem;
  }

  &-basketballer{
    align-self: center;
    z-index: 1;
    position: absolute;
    width: 45%;
    padding-bottom: 1rem;
    margin-top: -7.5rem;
  }

  &-picture{
    z-index: 1;
    padding-left: 30%;
  }
}

.ArticleSteps{
  margin-top: -1.5rem;
  padding: 1.5rem 1rem 0 70%;

  &-h3{
    font-weight: bold;
    color: $color-greyFont;
    margin: 0;
  }

  &-sup{
    border-bottom: solid 0.25rem #5C3DB2;
    margin-right: 0.5rem;

    &--growth{
      color: #000;
      border-color: $color-white;

      &Dark{
        color: $color-button;
      }
    }
  }

  &-p--growth{
    color: $color-white;
  }

  & p{
    font-size: 12px;
  }

  &--connection{
    background-color: $color-collaboration;
    padding: 1rem 1rem 1rem 70%;
    margin-top: 0;
  }

  &--growth{
    background-color: $color-button;
    padding: 1rem 1rem 1rem 70%;
    margin-top: 0;

    &Dark{
      background-color: $color-growthDark;
      padding: 1rem 0 1rem 70%;
      margin-top: 0;
    }
  }

  &--basketBall{
    padding-right: 60%;
    padding-left: 1rem;
  }

}

.SectionCard{
  display: flex;
  margin-bottom: -0.3rem;

  &--second{
    flex-direction: row-reverse;
  }

  &-block{
    width: 50%;
    display: flex;

    &--second{
      flex-direction: row-reverse;
    }
  }

  &-img{
    width: 100%;
  }

  &-span{
    background-color: $color-button;
    padding: 1.6rem 2rem;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: $color-white;
    color: $color-white;
    align-self: center;
    margin: 0 -2.5rem;
  }
}

.ArticleCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafa;
  width: 50%;
  margin-top: -1rem;
  z-index: -1;

  &-h3{
    font-weight: bold;
    color: $color-greyFont;
    padding-left: 4rem;
  }

  &-p{
    width: 70%;
    padding-left: 4rem;
  }
}

.Footer{
  display: flex;
  flex-direction: column;
  background-image: url("../img/game_767.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &-block{
    display: flex;
    justify-content: center;
  }

  &-blockText{
    display: flex;
    justify-content: center;
    margin: 10rem 0 5rem;
  }

  &-img{
    width: 36px;
    height: 36px;
    padding: 0.5rem;
    background-color: $color-button;
    align-self: center;
    margin-right: 1rem;
    border-radius: 1rem;
  }

  &-h2{
    color: $color-white;
    margin: 0;
  }

  &-h3{
    color: $color-greyFont;
    font-size: 1rem;
    margin: 0;
  }

  &-logoSVG{
    fill: $color-white;
    align-self: center;
    width: 20%;
    padding-top: 8rem;
    padding-bottom: 2rem;
  }
}