@import "fontAndValues";

.Header {
  background-image: url("../img/football_1280.jpg");

  &-logoSVG {
    width: 20%;
  }

  &-recruited {
    margin: 4rem 0 0;
    padding-left: 15%;
    font-size: 4rem;
    line-height: 1.1;
  }

  &-playCollege {
    line-height: 1.1;
    margin: 0 0 8rem 28%;
    font-size: 4rem;
  }

  &-button {
    padding: 1rem 2rem;
    width: 48%;
  }

  &Container {
    flex-direction: row;
    justify-content: space-around;
  }
}

.SectionSteps {
  position: relative;

  &-header {
    font-size: 5rem;
    margin: 2rem 0 0;
    padding-left: 40%;
    z-index: 1;

    &--basketBall {
      padding-right: 50%;
      padding-left: 1rem;
      margin: 2rem 0;
      font-size: 4rem;
    }
  }

  &-footballer {
    position: absolute;
    margin-left: -20%;
    padding-bottom: 1rem;
    margin-top: -6rem;
  }

  &-basketballer {
    z-index: 1;
    position: absolute;
    width: 50%;
    padding-top: 15rem;
    align-self: center;
  }

  &-picture {
    z-index: 1;

    &--footballer {
      padding-bottom: 2rem;
      align-self: start;
    }

    &--basketballer {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.ArticleSteps {
  margin-top: 0;

  &-h3 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }

  &-p--growth {
    color: $color-white;
  }

  & p {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.05rem;
    font-weight: 600;
  }

  &--default {
    padding: 1.5rem 1rem 0 40%;
    background: none;
  }

  &--connection {
    padding: 1rem 1rem 1rem 40%;
  }

  &--growth {
    padding: 1rem 1rem 1rem 40%;

    &Dark {
      padding: 1rem 0 1rem 70%;
    }
  }

  &--basketBall {
    padding-right: 45%;
    padding-left: 1rem;
    margin-top: 0;
  }

}

.SectionCard{

  &-span{
    margin-left: 2rem;
  }
}

.ArticleCard {
  padding-left: 2rem;

  &-h3 {
    font-size: 42px;
    margin: 2rem 0 0;
  }

}

.Footer {
  background-image: url("../img/game_1280.jpg");

  &-block {
    justify-content: space-around;
  }

  &-blockText {
    margin-bottom: 8rem;
  }


  &-h2 {
    font-size: 36px;
  }


  &-logoSVG {
    width: 20%;
    padding-bottom: 1rem;
  }
}